<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />
  <!-- jQuery is required -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <h1><a href="{% url 'topView' %}">Cliché</a></h1>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{% url 'post_new' %}">Post</a></li>
                <li><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></li>
                <li>
                    <a href="#">Others</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">About us</a></li>
                            <li><a href="#">Recruit</a></li>
                            <li><a href="#">Contact to us</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="header">
      <h1></h1>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
