{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <h1>New post</h1>
  <form method="POST" class="post-form">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="uk-button uk-button-default uk-button-small">Save</button>
  </form>
{% endblock %}
