{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <div class="uk-card uk-card-default uk-width-1-2@m">
      <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="40" height="40" src="{% static "media/rena01.png"%}">
              </div>
              <div class="uk-width-expand">
                  <h1 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h1>
                  <p class="uk-text-meta uk-margin-remove-top">{{ post.created_date }}</p>
                  <p>{{ post.text|linebreaksbr }}</p>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
