
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="{% static "media/rena01.png"%}">
                </div>
                <div class="uk-width-expand">
                    <h2 class="uk-card-title uk-margin-remove-bottom">{{ post.title }}</h2>
                    <p class="uk-text-meta uk-margin-remove-top">{{ post.created_date }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
